header {
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 15px;

  background: #2b3947;
  color: white;
}

.logo-container {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 10px;
    font-family: monospace;
    font-size: 1.3rem;
  }
}


.select-css {
  display: block;
  font-family: monospace;
  padding: 5px 10px;
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
  margin: 0;
  border: 1px solid #aaa;
  border-radius: 0.2em;
  background: #394754;
  color: white;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
}
.select-css option {
  font-weight: normal;
}
