<header>
  <div class="logo-container">
    <img
      width="24"
      height="24"
      src="/assets/images/thorchain.png"
      alt="Thorchain"
    />
    <span>Midgard Explorer</span>
  </div>
  <div>
    <select
      *ngIf="networks && activeNetwork"
      (input)="handleNetworkChange($event)"
      class="select-css"
    >
      <option
        [selected]="net === activeNetwork"
        *ngFor="let net of networkList()"
      >
        {{ net }}
      </option>
    </select>
  </div>
</header>
