header {
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px 15px;

  background: #2b3947;
  color: white;
}

.logo-container {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;

  span {
    margin-left: 10px;
    font-family: monospace;
    font-size: 1.3rem;
  }
}

select {
  border-radius: 2px;
  padding: 5px 10px;
  background: #394754;
  color: white;

}

option {
  color: white;
}
