<div class="explorer">
  <aside>
    <h4 class="endpoints-label">Endpoints</h4>
    <ul class="endpoints-list">
      <li>
        <a class="endpoint" [routerLink]="['/', 'v1', 'health']">/v1/health</a>
      </li>
      <li>
        <a class="endpoint" [routerLink]="['/', 'v1', 'network']"
          >/v1/network</a
        >
      </li>
      <li>
        <a class="endpoint" [routerLink]="['/', 'v1', 'nodes']">/v1/nodes</a>
      </li>
      <li>
        <a class="endpoint" [routerLink]="['/', 'v1', 'pools']">/v1/pools</a>
      </li>
      <li>
        <a class="endpoint" [routerLink]="['/', 'v1', 'stakers']"
          >/v1/stakers</a
        >
      </li>
      <li>
        <a class="endpoint" [routerLink]="['/', 'v1', 'stats']">/v1/stats</a>
      </li>
      <li>
        <a class="endpoint" [routerLink]="['/', 'v1', 'thorchain', 'constants']"
          >/v1/thorchain/constants</a
        >
      </li>
      <li>
        <a class="endpoint" [routerLink]="['/', 'v1', 'thorchain', 'lastblock']"
          >/v1/thorchain/lastblock</a
        >
      </li>
      <li>
        <a
          class="endpoint"
          [routerLink]="['/', 'v1', 'thorchain', 'pool_addresses']"
          >/v1/thorchain/pool_addresses</a
        >
      </li>
    </ul>
  </aside>
  <main><app-explorer-ui></app-explorer-ui></main>
</div>
