.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;

  main {
    flex: 1;
  }
}

@media screen and (min-width: 769px) {
  .app-container {
    overflow: hidden;
    main {
      overflow: hidden;
    }
  }
}
